In [1]:
import pandas as pd

In [2]:
metrics = pd.read_csv('metrics.csv')
metrics

,prod_A,prod_B,estado,canal,gec,lift,confidence,sales_a,sales_b,support_b,category_b,tipo,tendencia
0,COCA COLA 600 ML 24 PK,CC 355ML NR PET 12PK,VDM ORIENTE,PUNTO DE VENTA TRADICIONAL,ORO,1.004435,0.973156,2.874746e+07,1.011189e+07,0.968859,MUY ALTA VENTA,ALCISTA,"[653824.9432499995, -113964.11999999918, 29578..."
1,COCA COLA 600 ML 24 PK,COCA COLA 3 LT PET NR 4 PK,VDM ORIENTE,PUNTO DE VENTA TRADICIONAL,ORO,1.006433,0.967023,2.874746e+07,2.351121e+07,0.960842,MUY ALTA VENTA,ALCISTA,"[-118601.60443199985, 167740.76649599895, 3747..."
2,COCA COLA 600 ML 24 PK,COCA COLA 2.5 LT REF-PET 8 CJ,VDM ORIENTE,PUNTO DE VENTA TRADICIONAL,ORO,1.003575,0.945397,2.874746e+07,3.279004e+07,0.942028,MUY ALTA VENTA,BAJISTA,"[1529131.292913001, -1384941.344742, -528984.2..."
3,COCA COLA 600 ML 24 PK,CC PET 1LTNR 12 PK,VDM ORIENTE,PUNTO DE VENTA TRADICIONAL,ORO,1.008326,0.949475,2.874746e+07,1.115415e+07,0.941635,MUY ALTA VENTA,ALCISTA,"[171274.69467200013, -32821.270308000036, 5239..."
4,COCA COLA 600 ML 24 PK,SIDRAL 600 ML PET NR 12 G,VDM ORIENTE,PUNTO DE VENTA TRADICIONAL,ORO,1.007613,0.945274,2.874746e+07,3.851277e+06,0.938132,MUY ALTA VENTA,BAJISTA,"[-13019.762717999984, -78676.821337, 90035.502..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1881052,CIEL 600 ML PET NR 12 PK,CC 2.5L NO RET 8 PACK,VDM ORIENTE,OTROS,PLATA,0.000000,0.000000,1.141223e+01,1.408918e+01,0.111111,MUY ALTA VENTA,ALCISTA,"[-173073.19889699994, -84738.02847100003, 1322..."
1881053,CC PET 1LTNR 12 PK,CC 2.5L NO RET 8 PACK,VDM ORIENTE,OTROS,PLATA,0.000000,0.000000,1.056688e+02,1.408918e+01,0.111111,MUY ALTA VENTA,ALCISTA,"[-173073.19889699994, -84738.02847100003, 1322..."
1881054,CIEL 600 ML PET NR 12 PK,DV EDGE 946ML 4 PK NR NARANJA NECTAR,VDM ORIENTE,OTROS,PLATA,9.000000,1.000000,1.141223e+01,6.664180e-01,0.111111,ALTA VENTA,ALCISTA,"[1227.5419559999991, -775.7105519999986, 938.9..."
1881055,CC PET 1LTNR 12 PK,DV EDGE 946ML 4 PK NR NARANJA NECTAR,VDM ORIENTE,OTROS,PLATA,0.000000,0.000000,1.056688e+02,6.664180e-01,0.111111,ALTA VENTA,ALCISTA,"[1227.5419559999991, -775.7105519999986, 938.9..."
1881056,CC PET 1LTNR 12 PK,CIEL 600 ML PET NR 12 PK,VDM ORIENTE,OTROS,PLATA,0.000000,0.000000,1.056688e+02,1.141223e+01,0.111111,MUY ALTA VENTA,BAJISTA,"[5974.304499000005, 13784.708109, -29925.95251..."

In [4]:
stores = pd.read_csv('tiendas.csv')
stores

,Unnamed: 0,tienda,producto,cu,category
0,0,Tienda No 220056285,ADES CHOCOLATE 200 ML 4PK,0.422676,BAJA VENTA
1,1,Tienda No 220056285,CC 355ML NR PET 12PK,11.250000,MEDIA VENTA
2,2,Tienda No 220056285,CC 500ML NR PET 12PK,34.870704,ALTA VENTA
3,3,Tienda No 220056285,CC COLA BOT 500ML R VID 1X24U (U ALIG),38.040768,ALTA VENTA
4,4,Tienda No 220056285,CC CLASICA 355 ML 12PK LATA,4.500000,BAJA VENTA
...,...,...,...,...,...
4758,4758,Tienda No 600100694,VF GUAYABA 355ML NRPET 12PK,94.500000,MUY ALTA VENTA
4759,4759,Tienda No 600100694,VF MANGO BOT 600ML NR 12PK,35.504728,ALTA VENTA
4760,4760,Tienda No 600100694,VLLEFRT GYBA BOT 600ML PT NR12P,124.266548,MUY ALTA VENTA
4761,4761,Tienda No 600100694,VLLEFRU MZA BOT 600ML NR PET12P,53.257092,MUY ALTA VENTA
4762,4762,Tienda No 600100694,VLLEFRU UVA BOT 600M NR PET 12P,8.876182,MEDIA VENTA

In [10]:
stores = stores[stores['producto'].isin(metrics['prod_A'].unique())]

In [11]:
stores.to_csv('tiendas.csv')

In [12]:
stores[~stores['producto'].isin(metrics['prod_B'].unique())]

Empty DataFrame
Columns: [Unnamed: 0, tienda, producto, cu, category]
Index: []