In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('input.csv',encoding='CP1252')
#df = df.upper()
df

,prod_A,prod_B,p_a_b,p_a,p_b,transacciones_totales,estado,canal,gec,support_a_b,support_a,support_b,confidence,lift,sales_a,sales_b,rank_a,rank_b
0,COCA COLA 600 ML 24 PK,CC 355ml NR Pet 12pk,135039,138764,138013,142449,VDM Oriente,PUNTO DE VENTA TRADICIONAL,ORO,0.947981,0.974131,0.968859,0.973156,1.004435,2.874746e+07,1.011189e+07,3.0,10.0
1,COCA COLA 600 ML 24 PK,COCA COLA 3 LT PET NR 4 PK,134188,138764,136871,142449,VDM Oriente,PUNTO DE VENTA TRADICIONAL,ORO,0.942007,0.974131,0.960842,0.967023,1.006433,2.874746e+07,2.351121e+07,3.0,4.0
2,COCA COLA 600 ML 24 PK,COCA COLA 2.5 LT REF-PET 8 CJ,131187,138764,134191,142449,VDM Oriente,PUNTO DE VENTA TRADICIONAL,ORO,0.920940,0.974131,0.942028,0.945397,1.003575,2.874746e+07,3.279004e+07,3.0,2.0
3,COCA COLA 600 ML 24 PK,CC PET 1LTNR 12 PK,131753,138764,134135,142449,VDM Oriente,PUNTO DE VENTA TRADICIONAL,ORO,0.924913,0.974131,0.941635,0.949475,1.008326,2.874746e+07,1.115415e+07,3.0,9.0
4,COCA COLA 600 ML 24 PK,SIDRAL 600 ML PET NR 12 G,131170,138764,133636,142449,VDM Oriente,PUNTO DE VENTA TRADICIONAL,ORO,0.920821,0.974131,0.938132,0.945274,1.007613,2.874746e+07,3.851277e+06,3.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2639625,COCA COLA 600 ML 24 PK,CC Sin Azúcar 500ml Pet NR 12pk,1,1,1,8,VDM Oriente,NaN,PLATA,0.125000,0.125000,0.125000,1.000000,8.000000,NaN,NaN,NaN,NaN
2639626,COCA COLA 600 ML 24 PK,CC Sin AzÃºcar 500ml Pet NR 12pk,1,1,1,8,VDM Oriente,NaN,PLATA,0.125000,0.125000,0.125000,1.000000,8.000000,NaN,NaN,NaN,NaN
2639627,LECHE DESLACTOSADA 6 PACK 1 LITRO,CC Sin Azúcar 500ml Pet NR 12pk,0,1,1,8,VDM Oriente,NaN,PLATA,0.000000,0.125000,0.125000,0.000000,0.000000,NaN,NaN,NaN,NaN
2639628,LECHE DESLACTOSADA 6 PACK 1 LITRO,CC Sin AzÃºcar 500ml Pet NR 12pk,0,1,1,8,VDM Oriente,NaN,PLATA,0.000000,0.125000,0.125000,0.000000,0.000000,NaN,NaN,NaN,NaN
2639629,LECHE DESLACTOSADA 6 PACK 1 LITRO,COCA COLA 600 ML 24 PK,0,1,1,8,VDM Oriente,NaN,PLATA,0.000000,0.125000,0.125000,0.000000,0.000000,NaN,NaN,NaN,NaN

In [ ]:
df = pd.read_csv('metrics.csv')
df

In [ ]:
df = df[['prod_A','prod_B','estado','canal','gec','lift','confidence']]
df

In [ ]:
df.to_csv('metrics.csv')

In [ ]:
df = pd.read_csv('sales.csv')

In [ ]:
df['category'] = 'NA'
df

In [ ]:
df.loc[(df['sales'] < df['sales'].quantile(.25)),'category'] = 'BAJA VENTA'
df.loc[(df['sales'] >= df['sales'].quantile(.25)) & (df['sales'] < df['sales'].quantile(.5)),'category'] = 'MEDIA VENTA'
df.loc[(df['sales'] >= df['sales'].quantile(.25)) & (df['sales'] < df['sales'].quantile(.5)),'category'] = 'MEDIA VENTA'

In [ ]:
df = pd.read_csv('metrics.csv')
df

In [ ]:
df_2 = pd.read_csv('sales.csv')

df_2

In [ ]:
dl = df.apply(lambda x: df_2.loc[df_2['product'] == x['prod_B'],'category'].values, axis=1)

def ungroup(value):
    try:
        [n_value] = value
        return n_value
    except:
        return 'NA'
    
df['category_B'] = dl.apply(lambda x:ungroup(x))

df

In [ ]:
df.loc[df['category_B'] == 'NA']